
html, body{
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
}
.container{
	background-color: #c0c0c0;
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
}

header{
	background-color: #573258;
	height: 105px;
	text-align: center;
}

header h1{
	color: #FFF;
	padding: 10px 0;
}

figure{
	width: 35%;
	height: 200px;
	background-color: #573258;
	margin: 25px 20px;
	float: left;
}

main{
	background-color: green;
	height: 500px;
}

iframe{
	width: 100%;
}

footer{
	background-color: darkred;
	height: 75px;
}

footer p{
	text-align: right;
	padding-top: 20px;
	margin-right: 15px;
}


input, span{
	display: block;
}

.vertical-menu ul {
  list-style-type: none;
  margin: 0;
  background-color: darkblue;
  padding: 0;
  width: 200px;
  float: left;
}

.vertical-menu li a {
  display: block;
  color: #000;
  background-color: whitesmoke;
  padding: 20px 40px;
  text-decoration: none;
}

/* Change the link color on hover */
.vertical-menu li a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
  color: white;
}

.meio{
	display: inline-block;
	border: 2px solid black;
	height: 500px;
	width: 45%;
	background-color: lightpink;
	float: left;
}

.cards-influ{
	height: 100%;
	width: 57%;
	float: right;
	background-color: darkorange
}

.colapsar{
	height: 100%;
	width: 32%;
	float: right;
	background-color: darkorange
}

.accordion{
	background-color: yellow;
}

.title_influ{
	display: inline-block;
	border: 2px solid black;
	height: 100px;
	width: 20%;
	background-color: darkred;
	color: whitesmoke;
}

#cell{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: 50px auto;
}

.card-img-top{
	height: 200px;
	width: 200px;
}

.card{
	background-color: yellow;
	width: 200px;
	float: left;
}

.card2{
	background-color: gold;
	width: 200px;
	float: right;
}

.artigos{
	float: left;
	width: 30%;
	height: 100%;
	background-color: lightseagreen;
}

.carroselzinho{
	width: 47%;
	height: 30%;
	float: right;
}

#img_chess{
	width: 500px;
	height: 500px;
}