.container{
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	position: relative;
}

.meio{
	display: inline-block;
	max-height: 600px;
	width: 40%;
	background-color: #f2f2f2;
	float: left;
}

.legendinha{
	font-size: 19px;
}

.title-form{
	background: #400101;
	color: #f2f2f2;
	padding: 0 20px;
	width: 310px;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
    margin: 10px 10px;
}

.colapsar{
	height: 100%;
	width: 44%;
	float: right;
	background-color: #f2f2f2;
}

.btn-danger{
	color: #f2f2f2;
	background-color: #191210;
	border-color: #a60807;
	margin: 10px 0;
}

.title-faq{
	background: #a60807;
	color: #f2f2f2;
	padding: 0 20px;
	width: 299px;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;

}

.accordion{
	background-color: #f2f2f2;
	max-height:800px;
}

.inscricao{
    max-height:800px;
}

.form-page{
	background-color: #f2f2f2;
	padding-bottom: 2.5rem;
}